.DS_Store
**/.DS_Store
.venv_bad_20260108_221731/
venv_bad_20260108_221731/

__pycache__
.vscode

all_excels/
all_resumes/

logs/
*.log

old/

secrets.py
config/secrets.py
config/personals.py
apikeys.py

.venv/
venv/

*.csv

.env
.env.*